footer li, footer a{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.footerlink{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 10%;
}

.footerlink #footermainlink {
    display: flex;
}

.footerlink #footermainlink1{
    margin: 0px;
}

.footerlink #footermainlink1 a{
    margin: 0px 50px;
}

.footerlink #footermainlink2{
    margin: 0px 0px 0px 10px;
}

.footerlink #footermainlink2 a{
    margin: 0px 50px;
}


.footerlink li{
    list-style: none;
}

.footerlink ul{
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.footerlink ul li{
    padding: 0px 0px 5px 0px;
    margin: 0px;
}

.footerlink #footericon a{
    padding: 0px 10px;
}

img{
    height: 30px;
}