@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: #8b5144;
    font-family: "Open Sans", sans-serif;
}

th, h2, h1{
    font-family: "Proza Libre", sans-serif;
}

/* h1{
    color: #f5f5f5;
    text-align:center;
    margin: 40px 0px;
} */

/* Targets top section */
.group-info{
    display:flex;
    max-width: 1366px;
    margin: 40px auto;
}

/* Targets Side information */
.container-1{
    background-color: #19100e;
    text-align: center;
    /* Width size of Container */
    width: 300px;
    /* Gives space to the information on the right */
    margin-right: 30px;
}

.container-1 img{
    width: 300px;
    height: 210px;
}

.container-1 h2{
    margin: 0;
    background-color: #f06b4a;
    padding: 13px;
}

.container-1 table {
    font-size: 16px;
}

.container-1 table tr th{
    padding: 20px 30px 20px 20px;
}

.container-1 table tr td{
    padding: 20px 30px 20px 20px;
}

/* Targets Right information */
.container-2{
    margin: 0px 10px;
    color: #f5f5f5;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color:   black;
}

.container-2 p{
    font-size: 20px;
    margin: 30px;
    text-align: left;
}

/* Centers Table */
.container-2 table{
    margin-left: auto;
    margin-right: auto;
}

.container-2 table, .container-2 th, .container-2 td {
    border:3px solid black;
    /* Conbines all border */
    border-collapse: collapse;
}

.container-2 th, .container-2 td {
    padding: 5px 50px;
}

.container-3{
    color: #f5f5f5;
    text-align: center;
    font-size: 20px;
    margin: 40px 0px 60px 0px;
}

.container-3 button{
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
}

.container-3 button a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 892px){
    .group-info{
        display: block;
    }

    .container-1{
        margin: 20px 10%;
        width: auto;
    }

    .container-1 img{
        width: 500px;
        height: auto;
    }
    
    .container-1 table{
        display: none;
    }
    
    .container-2{
        margin: 10px 10%;
    }
}